$black-dark: #000;
$black-light: #272727;
$black-normal: #141414;

$white-dark: #e0e0e0;
$white-light: #ebebeb;
$white-normal: #fff;

$green-dark: #28D06C;
$green-light: #45ED89;
$green-normal: #31e87b;

$gray-normal: #777;

.color-gray {
    color: $gray-normal;
}