.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 32px;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .menu-left {
        display: none;
    }
    .menu-right {
        display: none;
    }

    .header-main {
        justify-content: center;
    }
}

.container {
    max-width: 1200px;

    margin: 20px auto;
    padding: 24px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    height: 85vh;
    margin-top: 0;
    padding-top: 100px;
}

@media screen and (max-width: 1280px) {
    .hero {
        height: auto;
    }
}

.container-item:nth-child(1) {
    flex-grow: 0.8;

    margin: 40px 0;
}

.container-item:nth-child(2) {
    flex-grow: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 40px 0;

    img {
        max-width: 400px;

        box-shadow: 1px 1px 10px $green-dark, -1px -1px 10px $green-dark;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;

        
    }
    .ret {
        margin: auto;
    }
}

.bg-anima {
    position: relative;
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    z-index: -1;
}

@media screen and (max-width: 600px) {
    .bg-hero {
        overflow: hidden;
    }
    
    .svg-hero {
        transform: scale(2) rotate(120deg);
    }
}

.projects {
    margin: 200px;
    margin-bottom: 50px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    max-width: 1200px;
    margin: 0;
    padding: 16px 24px;

    position: relative;

    a {
        &:hover {
            & + .img-proj {
            transform: translate(-50%, -50%) translate3d(0,0,0);
            opacity: 1;
            }
        }
    }
}

.img-proj {
    max-width: 720px;

    border-radius: 4px;

    position: absolute;
    
    left: 75%;
    top: 50%;

    transition: .6s ease;
    z-index: -1;
    opacity: 0;

    transform: translate(-50%, -50%) translate3d(-1100px,0,0) skewX(40deg);
}

.box-footer {
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    .rdp {
        
        &:hover {
            cursor: pointer;

            & + .box-cont{
                transform: translate3d(0,0,0);
                opacity: 1;
                transform: scale(1.5);
            }
        }
    }

    & .box-cont {
        position: absolute;
        top: -20px;
        transform: translate3d(0,70px,0);
        opacity: 0;
        transition: .4s ease;
        z-index: -1;
    }
}